<form action="/update" method="post">
	<label>
		Key
		<input type="text" name="key">
	</label>
	<label>
		Value
		<input type="text" name="value">
	</label>
	<label>
		<input type="submit" value="Update">
	</label>
</form>