<form action="/" method="put">
	<label>
		Key
		<input type="text" name="key">
	</label>
	<label>
		Value
		<input type="text" name="value">
	</label>
	<label>
		<input type="submit" value="Send">
	</label>
</form>