<!DOCTYPE html>
<html lang="ru"><!-- Change to en -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<nav>
		<a href="/">My records</a>
		<a href="/create">New</a>
		<a href="/update">Update</a>
		<a href="/delete">Delete</a>
	</nav>
	{{{ body }}}
</body>
</html>